.bg-maincolor{
    background-color: $maincolor;
}

.bg-secondarycolor{
    background-color: $secondaryColor;
}

.bg-basecolor{
    background-color: white;
}

.bg-keycolor{
    background-color: $keyColor;
}

.text-maincolor{
    color: $maincolor;
}

.text-secondarycolor{
    color: $secondaryColor;
}

.text-basecolor{
    color: $baseColor;
}

.text-keycolor{
    color:$keyColor;
}

.centrar-texto{
    text-align: center;
}