.bg-maincolor{
    background-color: $maincolor;
}

.bg-secondarycolor{
    background-color: $secondaryColor;
}

.bg-basecolor{
    background-color: white;
}

.bg-keycolor{
    background-color: $keyColor;
}

.text-maincolor{
    color: $maincolor;
}

.text-secondarycolor{
    color: $secondaryColor;
}

.text-basecolor{
    color: $baseColor;
}

.text-keycolor{
    color:$keyColor;
}

.centrar-texto{
    text-align: center;
}

.negrita{
    font-weight: 500;
}

.letra-grande{
    font-size: 30px;
}


.centrar-objeto{
    display: flex;
    justify-content: center;
}


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
