#navbar{
    background-color: $maincolor;
    width: 100%;
    display: flex;
    .logo{
    margin-left: 40px;
    margin-right: 40px;
    }
    ul{
        display: flex;
        flex-direction: end;
        margin-left: 100px;
        a{
        margin-left: 20px;
        margin-right: 20px;
        color: $baseColor;
        font-size: 20px;
        font-weight: 500;
        }
    }
}

body{
    background-color: $secondaryColor;
    .leyenda{
        color: $baseColor;
        font-family:$specialFont;
        font-size: 400px;
        text-align: center;
        text-shadow: 0 0 10px rgb(0, 0, 0);
        margin-left: 60px;
        margin-right: 60px;
        padding: 60px;
        
    }
}

